<section class="container mx-auto overflow-hidden rounded-md shadow-xl">
  <app-table-component
      [columns]="columns"
      [data]="products$ | async"
      [showDeleteOption]="true"
      [showEditOption]="false"
      (rowClicked)="onProductClick($event)"
      (deleteClicked)="deleteProduct($event.item, $event.event)"
  ></app-table-component>
  <app-confirmation-dialog 
      [isDialogOpen]="isConfirmationDialogOpen"
      [title]="'Delete Product'" 
      [message]="'Are you sure you want to delete this product?'" 
      (confirm)="onConfirm()" 
      (cancel)="onCancel()">
  </app-confirmation-dialog>
</section>
